body{
    margin: 0;
    padding: 0%;
    background-color: #3561AD;
}

@keyframes slideDown {
    from { opacity: 0; }
    to { opacity: 1; }
}

#main-nav {
    animation: slideDown 0.6s ease-out;
}

ul {
    color: black;
}

li, a, button, footer{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1, h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}

#gen-info {
    background-color: #FFCB08;
    padding: 10px;
    border-radius: 10px;
}

#home-page {

    max-width: 130vh;
}

button{
    padding: 9px 25px;
    color: aliceblue;
}

#header {
    background-color: #FFCB08;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.video-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

footer {
    background-color: #07224E;
}






