*{
    margin: 0;
    padding: 0%;
}

@keyframes slideDown {
    from { opacity: 0; }
    to { opacity: 1; }
}

#main-nav {
    animation: slideDown 0.6s ease-out;
}

li, a, button, #dropdown-more {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

h1, h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}

#home-page {

    max-width: 130vh;
}

#main-nav{
    transition: all 0.3s ease 0s;
}

button{
    padding: 9px 25px;
    color: aliceblue;
    transition: all 0.3s ease 0s;
}

#header {
    background: linear-gradient(#3561AD, #0B4DA2);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.video-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}






