body{
    margin: 0;
    padding: 0%;
    background-color: #3561AD;
}

li, a, button, label, #dropdown-more {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.shop-wrapper {
    max-width: 100%;
    max-height: 150vh;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFCB08 ;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 22px;
}

#header {
    padding: 20px;
    background-color: #FFCB08;
}

#cart-tab {
    max-width: 100%;
    max-height: 150vh;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
}

#addToCart {
    transition: transform 0.3s ease;
}

#addToCart:hover {
    transform: scale(1.05);
}

#cart {
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
}

#cart.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}